<p>In the space below, enter at least the email addresses of the people you wish to add to the workshop, <strong>one per line</strong>.<br> Optionally also include comma-separated lastname, firstname, affiliation. For example:
<blockquote>
  jane.doe@example.edu, Doe, Jane, Example University<br>
  chris.wong@example.ca<br>
  sam.lee@example.org, Lee, Sam
</blockquote>
<p>If the email addresses match records in our database, they will be added immediately. Otherwise, you will be presented with a form to collect missing data.</p>

<div class="form-group">
<%= f.text_area :add_members, rows: 6, class: 'form-control', placeholder:
                   "chris.wong@example.ca, Wong, Chris, University of British
                   Columbia".squish %>
</div>
