<div class="card-body">
  <div class="jumbotron invitation-errors">
    <div class="row">
      <h3>There is a problem with that invitation code:</h3>
      <ul>
        <% @invitation.errors.each do |error| %>
          <li><strong><%= error.attribute %></strong>: <%= error.message.html_safe %></li>
        <% end %>
      </ul>
      <h4>
        Please contact the organizers or BIRS at birs@birs.ca to issue a new invitation. Thank you!
      </h4>
    </div>
  </div>
</div>
